 <style>
/* Body */
body{background-color:#99BFA4;  font-size:normal;  color:black;  }

/* Container Classes */
.c0{ background-color:white; color:black;  margin:5px; padding:5px; border:1px solid black; font-size:200%;}   /* most basic container */ 
.cExample{ background-color:yellow; color:blue;  margin:5px; padding:5px; border:5px solid red; box-shadow: 3px 2px maroon; text-shadow: 3px 2px green; font-size:70%;}   /* class cExample */ 

/* Fonts */
.fs{font-size:small;}                                              /* small font size */
.fR{color:red;}  .fRB{color:red; font-weight:bold;}        /* font color red, 100% and bold */
.fB{color:MidnightBlue;}  .fBB{colorMidnightBlue; font-weight:bold;}        /* font color blue (greyish), 100% and bold, 100% blus is used for links */
.fM{color:Maroon;}  .fMB{color:Maroon; font-weight:bold;}        /* font color maroon, 100% and bold */
.fG{color:MediumSeaGreen;}  .fGB{color:#MediumSeaGreen; font-weight:bold;}        /* font color green (dark), 100% and bold  */

/* Tables */
table.nb {  border-collapse: collapse;   margin:5px;  }                                         /* table with 100% fonts and border  */
table.st{font-size:small;}   table.stb{font-size:small;border-collapse: collapse; margin:5px;}  /* table with small fonts +/- border  */
table.stb td,table.stb th,table.nb td,table.nb th { border: 2px solid black; padding: 2px; }    /* table elements with small fonts + border  */

/^   This Page */

.cButton{color:#f0f0f0;  background-color:#611800; font-size:100%;  box-shadow: 3px 2px aqua;}   /* replacing buttons  */
.cContent{background-color:#E0E0E0; color:#000000;  padding:5px; border:1px solid black; font-size:100%;} 
.cLabel{color:#f0f0f0;  background-color:#611800; font-size:100%;} 

</style>
